*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    height: 100%;
}

#footer{
    display: flex;
    align-items: center;
    gap: 220px;
    justify-content: center;
    flex-wrap: wrap;

}
.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 999;
    background-color: black;
}

.logo a{
    text-decoration: none;
}

.navbar .logo h1{
    color: goldenrod;
    cursor: pointer;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: gainsboro;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.navbar .menu li .active{
    border-bottom: 4px solid #ffd700;
}

.navbar .menu li .a:hover{
    border-bottom: 4px solid #ffd700;
}

.produits_texte{
    background-color: gainsboro;
    text-align: left;
    font-size: 40px;
    font-weight: 310;
    margin-top: 40px;
    margin-left: 90px;
    color: black;
    top: 5%;
    
}

.section_auteurs{
    background-color: gainsboro;
    color: black;
    padding: 40px 5% ;
}

.Etudiant{
    background-color: gainsboro;
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

}

.Etudiant .carte{
    background-color: white;
    width: 310px;
    color: black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
}
.Etudiant .carte img{
    background-color: white;
    color: black;
    height: 250px;
    width: 100%;
    border-radius: 10px;
}

.Etudiant .carte .desc{ 
    padding: 5px 20px; 
     opacity: 0.8; 
}
.Etudiant .carte .titre{
    background-color: white;
    font-weight: 900;
    font-size: 20px;
    color: black;
    padding: 0 20px;

}
.Etudiant .carte .box{
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2opx;
}

